
body{
	/**background-color: #F2DB9D;**/
	background-image: url('../image/font.png');
	background-repeat: repeat;
}

@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  src: url('../police/Courgette-Regular/courgette-regular-webfont.eot');
  src: url('../police/Courgette-Regular/courgette-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../police/Courgette-Regular/courgette-regular-webfont.woff2') format('woff2'),
       url('../police/Courgette-Regular/courgette-regular-webfont.woff') format('woff'),
       url('../police/Courgette-Regular/courgette-regular-webfont.ttf') format('truetype'),
       url('../police/Courgette-Regular/courgette-regular-webfont.svg#abcd') format('svg');
}

@font-face {
  font-family: 'Dekko';
  font-style: normal;
  font-weight: 400;
	src: url('../police/Dekko-Regular/dekko-regular-webfont.eot');
	src: url('../police/Dekko-Regular/dekko-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../police/Dekko-Regular/dekko-regular-webfont.woff2') format('woff2'),
	     url('../police/Dekko-Regular/dekko-regular-webfont.woff') format('woff'),
	     url('../police/Dekko-Regular/dekko-regular-webfont.ttf') format('truetype'),
	     url('../police/Dekko-Regular/dekko-regular-webfont.svg#webfont') format('svg');
}

header, section, footer{
	border-left: 2px solid #e5d095;
	border-right: 2px solid #e5d095;
}

header{
	background-color: #4B2A03;
	padding: 15px;
}

#logo{
	width: 20%;
}

nav{
    margin-top: 2.5%;
}
#nav, #nav ul{
    padding:0;
    margin:0;
    list-style:none;
    text-align:center;
}

#nav li{
    display:inline-block;
    position:relative;
    border-radius:8px 8px 8px 8px;
}

#nav #cate{
    border-radius:8px 8px 0 0;
}

#nav ul li{
    display:inherit;
    border-radius:0;
}

#nav ul li:hover{
    border-radius:0 0;
}

#nav ul li:last-child{
    border-radius:0 0 8px 8px;
}  

#nav ul{
    position:absolute;
    z-index: 1000;
    max-height:0;
    left: 0;
    right: 0;
    overflow:hidden;
    -moz-transition: .5s all .1s;
    -webkit-transition: .5s all .1s;
    transition: .5s all .1s;
}

#nav li:hover ul{
    max-height:15em;
}

/* background des liens sous menus */
#nav li:nth-child(2) li{
    background:#7a4305;
}

/* background des liens menus et sous menus au survol*/
#nav li:hover, #nav li li:hover{
    background:#edcf7c;
}

#nav a{
    text-decoration:none;
    color:#F7B05B;
    font-size: 1.7em;
    font-family:Courgette;
}

#nav ul a{
    padding:8px 0;
}

#nav li:hover li a{
    color:#F7B05B;
    text-transform:inherit;
}

#nav li:hover a, #nav li li:hover a{
    color:#4B2A03;
}

section{
	background-color: white;
	font-family: "Dekko";
	font-size: 1.2em;
    z-index: 1;
}

section h1{
	text-align: center;
	text-shadow: 4px 4px 4px #aaa;
	font-size: 2em;
    color: #6a4b3d;
    margin-top: 0;
}

.press{
    padding: 0 !important;
}

h2{
    padding-left: 13%;
    padding-top: 5%;
}

h3{
    padding-top: 5%;
}

article {
	text-align: justify;
	font-size: 20px;
	padding-left: 10%;
	padding-right: 10% !important;
}

p a:visited{
    color: #F7B05B;
}
#margin{
	margin-bottom: 19.2px;
}

#siropSize{
	width: 10%;
}

#cafeSize{
	width: 7%;
}

table  {
	border-collapse:collapse;
	border-color:#aaa;
	margin: 19.2px auto;
}

table td{
	font-family:Dekko;
	text-align: center;
	font-size:1em;
	padding:10px 50px;
	border-style:solid;
	border-width:1px;
	border-color:#aaa;
	color:#333;
	background-color:#fff;
}

table th{
	font-family:Dekko;
	text-align: center;
	font-size:1.5em;
	font-weight:normal;
	padding:10px 50px;
	border-style:solid;
	border-width:1px;
	border-color:#aaa;
	color:#fff;
	background-color:#f38630;
}

.open{
	color: green;
}

.close{
	color: red;
}

form {
    margin: 50px auto;
    width: 400px;
}


label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input, textarea {
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus, textarea:focus {
    border-color: #000;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: .5em;
}

hr {
    height: 1px;
    width: 65%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: auto;
    padding: 0;
}

footer{
	background-color: #4B2A03;
	font-family: Courgette;
	color:#F7B05B;
	text-align: center;
	padding: 7px;
}

#contact{
		padding-top: 5px;
}

.facebook{
	width: 40px;
}

.mail{
	width: 50px;
}
@media handheld, only screen and (max-width: 767px){
	header img{
		width: 50% !important;
		position: relative;
		left: 25%;
	}
}
